#bigCard {
    height: 100%;
    min-height: 800px;

    .layout {
        min-height: 350px;

        a{
            cursor: pointer;
        }
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;   
    }
    .card-title {
            font-size: 1.4rem;
            line-height: 1.2;
            color: #2c2c2c;
            font-weight: 900;
            text-transform: uppercase;
        }

    .cardBtn {
        margin:7.5px;
        width: 100%;
        color: white;
        background-color: #008080;
        font-weight: 900;
        width: 232.5px;
        text-transform: uppercase;
        text-align: left;
    }

    .homeBtn:hover {
        background-color: darkmagenta;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .card-body {

        padding-bottom: 7.5px;
        height: 180px;

        .bt {
            font-weight: 700;
            font-size: 1.1rem;
            }

        p {
            line-height: 1.4;
            margin: 0px;
        }
        }
    .photoframe:hover {
        opacity: 0.5;
    }

}

@media (max-width: 1400px) {
    .textWrapper {
        height: 59vh;
    }
 }
 @media (min-width: 992px) {
    .hideImg {
        display: none;
    }
 }
 @media (max-width: 992px) { 
     .container {
         display: flex;
         flex-direction:column;
     }
     .picWrapper {
         display:none;
     }
     .textWrapper {
         width: 100%;
         margin-bottom: 30px;
         max-height: 500px;
     }
  }
 
   