#ErrorModalContainer {
    max-width: 1166px;
    min-width: 350px;
    width: 70vw;
    min-height: 30vh;
    max-height: 100%;
     margin: 130px auto;
     z-index: 10;
  
     #ErrorModal {
     background-color: #008080;
     max-height: 740px;
     min-height: 30vh;
     max-width: 1200px;
     border: solid 12px #008080;
     border-radius: 50px;
    justify-content: center;
     display: flex;
     flex-direction: row;
     }

     .esclamation {
         border-radius: 50%;
         height: 250px;
         width: 250px;
         background-color: #004D4D;
         color: #008080;
         font-weight: 900;
         font-size: 12rem;
     }
     .textWrap {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         h1 {
             font-weight: 900;
             font-size: 8rem;
            color: #2c2c2c;
         }
         h5, p {
             font-weight: 700;
             font-size: 2rem;
            color: #2c2c2c;

         }

     }
     .btLink {
         background-color: #C4C4C4;
         text-transform:uppercase;
         color: #008080;
        font-weight: 900;
        width: 260px;
        height: 38px;
        text-align: left;
        border: none 0px;
     }
     .btLink:hover {
         background-color: darkmagenta;
         color: #C4C4C4;
         box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
         border: none 0px;
     }
 
   
    .btLink:hover {
        background-color: darkmagenta;
        color: #C4C4C4;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border: 0px;
    }
}

 @media (max-width: 768px) {
     #errorModalContainer {
         margin-top: 130px;
         margin-left: 0;
        margin-right: 0;
     }

 
     .textWrap {
         margin: auto;
         margin-left: 0px;
        margin-right: 0px;
         min-width: 60px;
     }
  }
 