

#listcard {
    margin: 2% auto;
    width: 70%;
  
    
    height: 20vh;
    margin: 200px auto;
    color: #DEDADA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 100%;
    

   
    div.info {
        display: flex;
        justify-content: space-between;
        width: 90%;
        
    }

    section {
        padding: 5px 0;
        background-color: #004D4D;
        
    }
   
    p {
        overflow: scroll;
        color: #DEDADA;
        margin-bottom: 0.3rem;
        background-color: #004D4D;

        
    }
    .vText {
        color: white;
        font-weight: 600;
    } 

    .cardBtn {
        margin:15px;
        color: white;
        background-color: #008080;
        font-weight: 900;
        width: 232.5px;
    }

    .homeBtn:hover {
        background-color: darkmagenta;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}