#listCardElement {
    // max-width: 1400px;
    width: 100%;
    min-height: 200px;
    max-height: 280px;
    margin: 0 auto;
    background-color: #004D4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    border: #C4C4C4;

    

    .bttl {
        text-transform: uppercase;
    }
    .picBookCont {
        a {
            cursor: pointer;
        }
        a:hover {
            opacity: 0.5;
        }
    }

    .book-cover-thumb {
        max-height: 220px;
        display: block;
    }
    .dataBookCont {
        background-color: rgba(196, 196, 196, 0.450);
        min-height: 200px;
        max-height: 250px;
    }
    .bttW {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bookInfo, .bookInfo2 {
        font-weight: 700;
        color: #C4C4C4;
        text-align: left;
        display: flex;
        flex-direction: column;
        line-height: 18px;
        min-width: 220px;
    }
    body {
    position: relative;
    }

    .btLink {
        color: #C4C4C4;
        text-transform:uppercase;
        background-color: #004D4D;
       font-weight: 900;
       max-width: 260px;
       height: 38px;
       text-align: left;
       border: 0px;
       margin: 10px 15px;
    }
    .btLink2 {
        color: #C4C4C4;
        text-transform:uppercase;
        background-color: #004D4D;
       font-weight: 900;
       max-width: 260px;
       height: 38px;
       text-align: left;
       border: 0px;
       margin: 10px 15px;
    }
    .btLink:hover, .btLink2:hover {
        background-color: darkmagenta;
        color: #C4C4C4;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border: 0px;
    }
    ul {
            background-color: #004D4D;
            cursor: pointer;
            border: 0px;

            
            
            li {
            color: #DEDADA;
            font-weight: 700;
            a{
                text-decoration: none;
                        color: #C4C4C4;
            }


            }

            li:hover {
                background-color: darkmagenta;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }
        }
    .commandWrap {
        max-width: 300px;
    }
    
    .silverSect {
    background-color: #C4C4C4;
    color: #2c2c2c;
    min-width: 100%;

    h5 {
    font-weight: 700;
    }
    }
    .textScroll {
    background-color: rgba(196, 196, 196, 0.450);
    color: #2c2c2c;
    height: 200px;
    overflow: scroll;
    width: 100%;
    font-weight: 700;
    }

}
@media (min-width: 992px) {
    .btLink {
        min-width: 250px;
    }
    .bookInfo2 {
        display: none !important;
        .bigHide {
            display: none;
        }
    }
    
.bookInfo, .bookInfo2 {
    min-width: 200px;
    max-width: 230px; 
}
}
@media (max-width: 992px) {

    #listCardElement {
    margin: 0 auto;
    display: flex !important;
    flex-direction: column !important; 
    justify-content: center !important;
    align-items: center;
    padding-bottom: 100px;
    max-height: 100%;
    margin-bottom: 0px;

    ul{
        background-color: #008080;
    }

    .dataBookCont {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .bookInfo {
        display: none;
    }
    .picBookCont {
        display: flex;
        flex-direction: row;
        padding: 0px 0px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        min-width: 300px;
    }
    .description {
        margin-top: 78px;
    }
    .bigHide, .bookInfo2 {
        max-width: 170px;
    }
 
    .textScroll {
    max-width: 100%;
    }
    .bttW {
        min-width: 100vw;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
      

        .btLink{
        max-width: 30vw;
        min-width: 150px;
        background-color: #008080;            
        }
        .btLink:hover {
            background-color: darkmagenta;
        }
        
    }
    .rmv {
        display: flex;
        justify-content: start;
        background-color: #008080;
        margin-left: 0px;
        min-width: 140px;
    }
    
}  
    .book-cover-thumb {
    box-shadow: rgba(93, 91, 92, 0.3) -5px 5px, 
    rgba(56, 55, 56, 0.3) -10px 10px, 
    rgba(17, 16, 16, 0.2) -15px 15px, 
    rgba(29, 28, 29, 0.1) -20px 20px, 
    rgba(12, 12, 12, 0.05) -25px 25px;
    }  
}
@media (max-width: 576px) {
    .bttW {
        min-width: 100vw;
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
      

        .btLink{

            a{
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;            
        }
    }
    }
 }
