

    #loginview {

        min-height: 100vh;

        .loginviewcontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;        
        }
    }
    
   

    @media (max-width: 992px) {  

        #loginview{

        
            .loginviewcontainer {
        
                display: flex;
                flex-direction: column;
            }
        }
        
        }