#miniCard {
    height: 100%;
    min-height:320px;
    max-height:300px;
    min-width: 140px;
    max-width: 148px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    .miniCardPic {
        width:120px;
    }

    .infoLittle {
        width: 130px;
        min-height: 100px;
        color: #2c2c2c;

        p {
         margin-bottom: 0px;
        }

        h5 {
            font-size: 1.1rem;
            line-height: 1.1;
            font-weight: 700;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
  
    }

    .cardBtn {
        margin:15px;
        color: white;
        background-color: #008080;
        font-weight: 900;
        min-width: 100.5px;
        text-transform: uppercase;
        text-align: left;
    }

    .cardBtn:hover {
        background-color: darkmagenta;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 @media (max-width: 576px) {

    #miniCard {
        margin: 0px;
    }

    #miniCardWrapper {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
 } 



