
/*     @media only screen and (min-width: 1200px) {
    #miniCardWrapper {
      width: 100% ;
     }
   }

   @media only screen and (min-width: 800px) {
    #miniCardWrapper {
      width: 200% ;
     }
   }
 */
/* ----------- 0 - 450px ----------- */
@media screen 
  and (max-width: 450px){
}

/* ----------- 450 - 650px ----------- */
@media screen 
  and (min-width: 451px) 
  and (max-width: 650px){
}

/* ----------- 650px - 950px ----------- */
@media screen 
  and (min-width: 651px)
  and (max-width: 950px){
}

/* ----------- 950px - 1200px ----------- */
@media screen 
  and (min-width: 951px) 
  and (max-width: 1200px){
}

/* ----------- 1200px + ----------- */
@media screen 
  and (min-width: 1201px){
    #miniCardWrapper {
      width: 200% ;
     }
}