#miniCard {
    // height: 100%;
     max-height: 137.5px;
     max-width: 352px; 
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .cardBtn {
        margin:15px;
        color: white;
        background-color: #008080;
        font-weight: 900;
        min-width: 100.5px;
        text-transform: uppercase;
        text-align: left;
    }

    .homeBtn:hover {
        background-color: darkmagenta;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


