#readList {
    height: 100vh;

    .wiewType{
        margin-top: 150px;
    }

    .state {
        background-color: #008080;
        height: 58px;
        width: 185px;
        h4{
        color: #004D4D;
        font-weight: 900;
        width: 232.5px;
        margin-bottom: 0px;
        }
        
    }
        .h55 {
            font-weight: 900;
            color: #C4C4C4;
        }

}
