@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../scss/footer.scss';
@import '../scss/navbar.scss';
@import '../scss/body.scss';
@import '../scss/homeBanner';
@import '../scss/formSearch';
@import '../scss/card.scss';
@import '../scss/miniCard';
@import '../scss/bookModal';
@import '../scss/reviewModal';
@import '../scss/commentReview';
@import '../scss/loginForm';
@import '../scss/profileCard';
@import '../scss/errorModal';
@import '../scss/listcard';
@import '../scss/profileview';
@import '../scss/readListsWiew';
@import '../scss/carousel';
@import '../scss/loginview';